body {
  font-family: "Noto Serif", serif;
  margin: 0;
}

html {
  overflow-y: scroll;
}

h1 {
  text-align: center; 
  padding: 0;
  margin-bottom: $medium-gutter; 
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h4 {
  margin-top: 10px;
  font-size: 0.9em;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.header {
  width: 100%; 
  background-color: $light-grey;
  border-bottom: 1px solid gainsboro;
}