.podcast-list {
  padding-top: $large-gutter;
  min-height: 100px;
}

.podcast {
  position: relative;
  min-height: $podcast-height;
  border: 1px solid $grey;
  @include transition(opacity 150ms);
  &--saved {
    border: 10px solid $primary-color;
  }
}

.podcast__overlay {
  display: none;
  position: absolute;
  &--show {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(1,1,1,0.6);
  }
}

.podcast__image {
  opacity: 0;
  &--loaded {
    opacity: 1;
  } 
}