.searchbar {
  border-radius: $border-radius;
  padding: $search-padding;
  margin-top: $large-gutter;
  border: $search-border-width solid $search-border-color;
  background-color: $light-grey;

  &:focus {
    outline-color: $primary-color;
  }
}
