/* SPACING */
$small-gutter: 10px;
$medium-gutter: 20px;
$large-gutter: 40px;

/* COLORS */
$primary-color: orange;
$grey: Gainsboro;

/* LAYOUT */
$border-radius: 3px;
$max-width: 960px;
$media-small: 550px;
$media-medium: 800px;

/* ----- COMPONENTS ----- */

/* SEARCH */
$search-border-width: 1px;
$search-border-color: $grey;
$search-padding: $small-gutter $medium-gutter;

/* SPINNER */
$spinner-widht: 1em;
$spinner-height: $spinner-widht; 
$spinner-border-width: 2px;

/* PODCAST */
$podcast-height: 170px;